In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("/Users/hahyuncho/Downloads/NLP_프로젝트/raw_cleaned.csv")

In [4]:
data

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AST,HC,AC,HF,AF,HY,AY,HR,AR,Date
0,2000-01,2000-08-19T00:00:00Z,Charlton,Man City,4,0,H,2.0,0.0,H,...,4.0,6.0,6.0,13.0,12.0,1.0,2.0,0.0,0.0,2000-08-19
1,2000-01,2000-08-19T00:00:00Z,Chelsea,West Ham,4,2,H,1.0,0.0,H,...,5.0,7.0,7.0,19.0,14.0,1.0,2.0,0.0,0.0,2000-08-19
2,2000-01,2000-08-19T00:00:00Z,Coventry,Middlesbrough,1,3,A,1.0,1.0,D,...,9.0,8.0,4.0,15.0,21.0,5.0,3.0,1.0,0.0,2000-08-19
3,2000-01,2000-08-19T00:00:00Z,Derby,Southampton,2,2,D,1.0,2.0,A,...,6.0,5.0,8.0,11.0,13.0,1.0,1.0,0.0,0.0,2000-08-19
4,2000-01,2000-08-19T00:00:00Z,Leeds,Everton,2,0,H,2.0,0.0,H,...,6.0,6.0,4.0,21.0,20.0,1.0,3.0,0.0,0.0,2000-08-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8284,2021-22,2022-04-09T17:30:00Z,Aston Villa,Tottenham,0,4,A,0.0,1.0,A,...,5.0,9.0,3.0,12.0,14.0,2.0,3.0,0.0,0.0,2022-04-09
8285,2021-22,2022-04-10T14:00:00Z,Brentford,West Ham,2,0,H,0.0,0.0,D,...,1.0,4.0,6.0,2.0,6.0,0.0,1.0,0.0,0.0,2022-04-10
8286,2021-22,2022-04-10T14:00:00Z,Leicester,Crystal Palace,2,1,H,2.0,0.0,H,...,3.0,3.0,4.0,11.0,12.0,1.0,1.0,0.0,0.0,2022-04-10
8287,2021-22,2022-04-10T14:00:00Z,Norwich,Burnley,2,0,H,1.0,0.0,H,...,4.0,6.0,7.0,12.0,10.0,1.0,1.0,0.0,0.0,2022-04-10
8288,2021-22,2022-04-10T16:30:00Z,Man City,Liverpool,2,2,D,2.0,1.0,H,...,4.0,4.0,1.0,9.0,11.0,1.0,4.0,0.0,0.0,2022-04-10

In [54]:
data['HomeTeam'].unique()

array(['Charlton', 'Chelsea', 'Coventry', 'Derby', 'Leeds', 'Leicester',
       'Liverpool', 'Sunderland', 'Tottenham', 'Man United', 'Arsenal',
       'Bradford', 'Ipswich', 'Middlesbrough', 'Everton', 'Man City',
       'Newcastle', 'Southampton', 'West Ham', 'Aston Villa', 'Bolton',
       'Blackburn', 'Fulham', 'Birmingham', 'West Brom', 'Portsmouth',
       'Wolves', 'Norwich', 'Crystal Palace', 'Wigan', 'Reading',
       'Sheffield United', 'Watford', 'Hull', 'Stoke', 'Burnley',
       'Blackpool', 'QPR', 'Swansea', 'Cardiff', 'Bournemouth',
       'Brighton', 'Huddersfield', 'Brentford'], dtype=object)

In [73]:
bigclubs =['Chelsea','Man United','Arsenal','Liverpool','Man City']

In [111]:
# 빅클럽 패배 약팀에게 
bigclub_beat = data[(data['HomeTeam'] =='Man City') & (data['FTHG'] < data['FTAG']) & (~data['AwayTeam'].isin(bigclubs))]

In [112]:
# 홈팀 기준
# 유효슈팅은 어웨이가 더 많은데 패배 / 전반 무승부 
moreshoot_win_draw = [(data['HST'] < data['AST']) & (data['FTHG'] > data['FTAG']) & (data['HTHG'] == data['HTAG'])]
# 유효슈팅은 어웨이가 더 많은데 패배 / 전반 홈팀 승리 
moreshoot_win_win = [(data['HST'] < data['AST']) & (data['FTHG'] > data['FTAG']) & (data['HTHG'] >  data['HTAG'])]

In [113]:
# 홈팀 기준 
# 유효슈팅은 홈팀가 더 많은데 패배 / 전반 무승부 
moreshoot_lose_draw = [(data['HST'] > data['AST']) & (data['FTHG'] < data['FTAG']) & (data['HTHG'] == data['HTAG'])]
# 유효슈팅은 홈팀 더 많은데 패배 / 전반 어웨이 승리 
moreshoot_lose_win = [(data['HST'] > data['AST']) & (data['FTHG'] < data['FTAG']) & (data['HTHG'] < data['HTAG'])]

In [102]:
data[(data['HST'] < data['AST']) & (data['FTHG'] > data['FTAG'])]

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AST,HC,AC,HF,AF,HY,AY,HR,AR,Date
7,2000-01,2000-08-19T00:00:00Z,Sunderland,Arsenal,1,0,H,0.0,0.0,D,...,7.0,2.0,9.0,10.0,21.0,3.0,1.0,0.0,1.0,2000-08-19
11,2000-01,2000-08-22T00:00:00Z,Bradford,Chelsea,2,0,H,1.0,0.0,H,...,6.0,6.0,4.0,14.0,16.0,0.0,1.0,0.0,0.0,2000-08-22
16,2000-01,2000-08-23T00:00:00Z,Newcastle,Derby,3,2,H,1.0,1.0,D,...,5.0,9.0,6.0,23.0,11.0,0.0,3.0,1.0,0.0,2000-08-23
90,2000-01,2000-10-21T00:00:00Z,Charlton,Middlesbrough,1,0,H,0.0,0.0,D,...,6.0,5.0,6.0,11.0,19.0,2.0,2.0,0.0,0.0,2000-10-21
106,2000-01,2000-10-28T00:00:00Z,West Ham,Newcastle,1,0,H,0.0,0.0,D,...,5.0,3.0,8.0,15.0,10.0,3.0,2.0,0.0,0.0,2000-10-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8223,2021-22,2022-02-20T16:30:00Z,Wolves,Leicester,2,1,H,1.0,1.0,D,...,7.0,7.0,10.0,12.0,9.0,4.0,4.0,0.0,0.0,2022-02-20
8258,2021-22,2022-03-13T14:00:00Z,West Ham,Aston Villa,2,1,H,0.0,0.0,D,...,7.0,5.0,7.0,9.0,3.0,1.0,0.0,0.0,0.0,2022-03-13
8263,2021-22,2022-03-17T19:45:00Z,Everton,Newcastle,1,0,H,0.0,0.0,D,...,6.0,5.0,7.0,13.0,11.0,2.0,1.0,1.0,0.0,2022-03-17
8266,2021-22,2022-03-20T14:00:00Z,Leicester,Brentford,2,1,H,2.0,0.0,H,...,6.0,2.0,5.0,10.0,10.0,1.0,2.0,0.0,0.0,2022-03-20
8280,2021-22,2022-04-09T12:30:00Z,Everton,Man United,1,0,H,1.0,0.0,H,...,4.0,5.0,7.0,4.0,10.0,2.0,2.0,0.0,0.0,2022-04-09

In [53]:
# 전반 적은 골 후반 많은 골 
data[(data['FTHG'] + data['FTAG'] > 4) & (data['HTHG'] + data['HTAG'] <2) ]

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AST,HC,AC,HF,AF,HY,AY,HR,AR,Date
1,2000-01,2000-08-19T00:00:00Z,Chelsea,West Ham,4,2,H,1.0,0.0,H,...,5.0,7.0,7.0,19.0,14.0,1.0,2.0,0.0,0.0,2000-08-19
26,2000-01,2000-08-26T00:00:00Z,Southampton,Liverpool,3,3,D,0.0,1.0,A,...,4.0,7.0,1.0,7.0,6.0,0.0,0.0,0.0,0.0,2000-08-26
36,2000-01,2000-09-06T00:00:00Z,Derby,Middlesbrough,3,3,D,0.0,1.0,A,...,4.0,11.0,5.0,8.0,10.0,3.0,2.0,0.0,0.0,2000-09-06
43,2000-01,2000-09-09T00:00:00Z,Liverpool,Man City,3,2,H,1.0,0.0,H,...,7.0,9.0,4.0,17.0,17.0,3.0,4.0,0.0,0.0,2000-09-09
72,2000-01,2000-09-30T00:00:00Z,Leeds,Tottenham,4,3,H,0.0,1.0,A,...,5.0,6.0,4.0,11.0,20.0,0.0,2.0,0.0,0.0,2000-09-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7999,2021-22,2021-08-23T20:00:00Z,West Ham,Leicester,4,1,H,1.0,0.0,H,...,1.0,10.0,0.0,8.0,8.0,0.0,1.0,0.0,1.0,2021-08-23
8014,2021-22,2021-09-11T15:00:00Z,Man United,Newcastle,4,1,H,1.0,0.0,H,...,3.0,7.0,3.0,9.0,2.0,1.0,0.0,0.0,0.0,2021-09-11
8051,2021-22,2021-10-16T15:00:00Z,Aston Villa,Wolves,2,3,A,0.0,0.0,D,...,4.0,6.0,7.0,8.0,17.0,2.0,3.0,0.0,0.0,2021-10-16
8152,2021-22,2021-12-26T15:00:00Z,West Ham,Southampton,2,3,A,0.0,1.0,A,...,6.0,10.0,2.0,10.0,9.0,2.0,3.0,0.0,0.0,2021-12-26
8271,2021-22,2022-04-02T15:00:00Z,Chelsea,Brentford,1,4,A,0.0,0.0,D,...,6.0,12.0,7.0,11.0,7.0,0.0,0.0,0.0,0.0,2022-04-02

In [44]:
data[data['FTHG'] == data['FTAG']]

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AST,HC,AC,HF,AF,HY,AY,HR,AR,Date
3,2000-01,2000-08-19T00:00:00Z,Derby,Southampton,2,2,D,1.0,2.0,A,...,6.0,5.0,8.0,11.0,13.0,1.0,1.0,0.0,0.0,2000-08-19
5,2000-01,2000-08-19T00:00:00Z,Leicester,Aston Villa,0,0,D,0.0,0.0,D,...,3.0,5.0,4.0,12.0,12.0,2.0,3.0,0.0,0.0,2000-08-19
12,2000-01,2000-08-22T00:00:00Z,Ipswich,Man United,1,1,D,1.0,1.0,D,...,6.0,4.0,6.0,10.0,7.0,1.0,4.0,0.0,0.0,2000-08-22
13,2000-01,2000-08-22T00:00:00Z,Middlesbrough,Tottenham,1,1,D,0.0,1.0,A,...,4.0,5.0,5.0,9.0,18.0,2.0,1.0,0.0,0.0,2000-08-22
20,2000-01,2000-08-26T00:00:00Z,Bradford,Leicester,0,0,D,0.0,0.0,D,...,8.0,6.0,8.0,11.0,12.0,1.0,2.0,0.0,0.0,2000-08-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8260,2021-22,2022-03-14T20:00:00Z,Crystal Palace,Man City,0,0,D,0.0,0.0,D,...,4.0,2.0,6.0,6.0,11.0,3.0,1.0,0.0,0.0,2022-03-14
8269,2021-22,2022-04-02T15:00:00Z,Brighton,Norwich,0,0,D,0.0,0.0,D,...,0.0,11.0,2.0,12.0,11.0,1.0,1.0,0.0,0.0,2022-04-02
8272,2021-22,2022-04-02T15:00:00Z,Leeds,Southampton,1,1,D,1.0,0.0,H,...,6.0,4.0,7.0,14.0,7.0,1.0,1.0,0.0,0.0,2022-04-02
8274,2021-22,2022-04-02T17:30:00Z,Man United,Leicester,1,1,D,0.0,0.0,D,...,3.0,6.0,5.0,13.0,6.0,2.0,2.0,0.0,0.0,2022-04-02
8288,2021-22,2022-04-10T16:30:00Z,Man City,Liverpool,2,2,D,2.0,1.0,H,...,4.0,4.0,1.0,9.0,11.0,1.0,4.0,0.0,0.0,2022-04-10

In [15]:
# 홈팀 이김
hometeam_win_win = data[(data['FTHG'] > data['FTAG']) & (data['HTHG'] > data['HTAG'])] # 2342
hometeam_win_draw = data[(data['FTHG'] > data['FTAG']) & (data['HTHG'] == data['HTAG'])] # 1264
hometeam_win_lose = data[(data['FTHG'] > data['FTAG']) & (data['HTHG'] < data['HTAG'])] #197

In [25]:
hometeam_win_lose.shape[0]

197

In [12]:
hometeam_win_lose

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AST,HC,AC,HF,AF,HY,AY,HR,AR,Date
19,2000-01,2000-08-26T00:00:00Z,Arsenal,Charlton,5,3,H,1.0,2.0,A,...,4.0,8.0,3.0,12.0,15.0,0.0,1.0,0.0,0.0,2000-08-26
32,2000-01,2000-09-05T00:00:00Z,Tottenham,Everton,3,2,H,1.0,2.0,A,...,6.0,7.0,5.0,11.0,10.0,1.0,2.0,0.0,0.0,2000-09-05
72,2000-01,2000-09-30T00:00:00Z,Leeds,Tottenham,4,3,H,0.0,1.0,A,...,5.0,6.0,4.0,11.0,20.0,0.0,2.0,0.0,0.0,2000-09-30
111,2000-01,2000-11-04T00:00:00Z,Leeds,Liverpool,4,3,H,1.0,2.0,A,...,8.0,7.0,7.0,18.0,18.0,1.0,4.0,0.0,0.0,2000-11-04
124,2000-01,2000-11-11T00:00:00Z,Man United,Middlesbrough,2,1,H,0.0,1.0,A,...,1.0,10.0,0.0,5.0,10.0,0.0,0.0,0.0,0.0,2000-11-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8119,2021-22,2021-12-04T12:30:00Z,West Ham,Chelsea,3,2,H,1.0,2.0,A,...,7.0,1.0,9.0,10.0,10.0,1.0,3.0,0.0,0.0,2021-12-04
8128,2021-22,2021-12-06T20:00:00Z,Everton,Arsenal,2,1,H,0.0,1.0,A,...,3.0,3.0,3.0,8.0,12.0,2.0,2.0,0.0,0.0,2021-12-06
8129,2021-22,2021-12-10T20:00:00Z,Brentford,Watford,2,1,H,0.0,1.0,A,...,2.0,8.0,2.0,12.0,18.0,4.0,0.0,0.0,0.0,2021-12-10
8227,2021-22,2022-02-24T19:45:00Z,Arsenal,Wolves,2,1,H,0.0,1.0,A,...,2.0,5.0,4.0,8.0,9.0,1.0,1.0,0.0,0.0,2022-02-24
8278,2021-22,2022-04-06T19:30:00Z,Burnley,Everton,3,2,H,1.0,2.0,A,...,4.0,9.0,6.0,11.0,16.0,2.0,2.0,0.0,0.0,2022-04-06

In [16]:
# 어웨이팀 이김
awayteam_win_win = data[(data['FTHG'] < data['FTAG']) & (data['HTHG'] < data['HTAG'])] #1383
awayteam_win_draw = data[(data['FTHG'] < data['FTAG']) & (data['HTHG'] == data['HTAG'])] #884
awayteam_win_lose = data[(data['FTHG'] < data['FTAG']) & (data['HTHG'] > data['HTAG'])] #150

In [18]:
# 무승부
# 홈팀 이김
hometeam_draw_win = data[(data['FTHG'] == data['FTAG']) & (data['HTHG'] > data['HTAG'])] #410
hometeam_draw_lose = data[(data['FTHG'] == data['FTAG']) & (data['HTHG'] < data['HTAG'])] #387
awayteam_draw_win = data[(data['FTHG'] == data['FTAG']) & (data['HTHG'] < data['HTAG'])] # 387
awayteam_draw_lose = data[(data['FTHG'] == data['FTAG']) & (data['HTHG'] > data['HTAG'])] #410
all_draw = data[(data['FTHG'] == data['FTAG']) & (data['HTHG'] == data['HTAG'])] # 1272

In [32]:
all_draw.shape[0]

1272

In [106]:
#홈팀 패배
hometeam_lose_win = data[(data['FTHG'] < data['FTAG']) & (data['HTHG'] > data['HTAG'])] # 150
hometeam_lose_draw = data[(data['FTHG'] < data['FTAG']) & (data['HTHG'] == data['HTAG'])] #884
hometeam_lose_lose = data[(data['FTHG'] < data['FTAG']) & (data['HTHG'] < data['HTAG'])] #1383

In [20]:
#원정팀 패배
awayteam_lose_win = data[(data['FTHG'] > data['FTAG']) & (data['HTHG'] < data['HTAG'])] #197
awayteam_lose_draw = data[(data['FTHG'] > data['FTAG']) & (data['HTHG'] == data['HTAG'])] #1264
awayteam_lose_lose = data[(data['FTHG'] > data['FTAG']) & (data['HTHG'] > data['HTAG'])] #2342

In [107]:
hometeam_lose_win.shape[0]

150